

h1{
text-align: center;	
	color: rgb(255, 255, 255);
	font-size: 250%;
}

.heading{

	background-color:  rgba(0,128,0,0.75);
 	height: 100px;
 	margin-top: 0%
}
.container{
	border: 3px solid black;
	position: relative;
	height: 8%;

}
#array{
	position: absolute;
	left: 15%;

}

#speed{
	left:70%;
	position: relative;
}

#a_genrate{

	left: 20%;
	cursor: pointer;
	position: relative;
	padding: 0.4% 1.5%;
}
#array_container{

	display: flex;
	height: 77vh;
	align-items: flex-end;
	width: 100%;

}

#start{

	left:43%;
	position: relative;
	cursor: pointer;
	padding: 0.4% 2%;

}

#selection{

	left:43%;
	position: relative;
	cursor: pointer;
	padding: 0.4% 2%;

}

#visu{
	
}
